{% extends 'base.html.twig' %}

{% block title %}Portfolio | Caroline de la Fouchardiere{% endblock %}

{% block body %}



    {% if is_granted('ROLE_ADMIN') %}
        <span><a href="{{ path('edit_me', {id:1}) }}" class="btn btn-warning">{{ 'btn.edit'|trans }}</a></span>
    {% endif %}

   <div class="row">
       <div class="col-md-8 ps-md-5 mb-5">
           <h1 class="" style="border-bottom: 3px solid #0000ff">{{"me.about"|trans}}</h1>
           {% if locale == 'fr' %}
               <p class="">{{ me[0].introFr}}</p>
               <p class="">{{ me[0].servicesFr}}</p>

           {% else %}
               <p>{{ me[0].intro}}</p>
               <p>{{ me[0].services}}</p>

           {% endif %}

           <div class="mt-5 align-items-center d-flex">
               <a href="{{ asset('de-la-fouchardiere_caroline_CV-developpement.pdf') }}" target="_blank" class="btn btn-primary text-decoration-none visbyB fs-4 ">
                   <i class="fa-solid fa-file-arrow-down me-3"></i>{{ "btn.resume"|trans }}</a>
               <a class=" btn-bleu text-decoration-none ms-2" href="https://github.com/Mousedlf" target="_blank">
                   <i class="fs-1 fa-brands fa-github"></i></a>
               <a class=" btn-bleu text-decoration-none ms-2" href="https://www.linkedin.com/in/caroline-de-la-fouchardiere-289a5b1b7?originalSubdomain=fr" target="_blank">
                   <i class="fs-1 fa-brands fa-linkedin"></i></a>
           </div>

           </div>
       </div>
   </div>







{% endblock %}
