{% extends 'base.html.twig' %}

{% block title %}Portfolio | Caroline de la Fouchardiere{% endblock %}

{% block body %}



    {% if is_granted('ROLE_ADMIN') %}
        <span><a href="{{ path('edit_me', {id:1}) }}" class="btn btn-warning">{{ 'btn.edit'|trans }}</a></span>
    {% endif %}

   <div class="row">
       <div class="col-md-8 ps-md-5 mb-5">
           <h1 class="" style="border-bottom: 3px solid #0000ff">{{"me.about"|trans}}</h1>
           {% if locale == 'fr' %}
               <p class="">{{ me[0].introFr}}</p>
               <p class="">{{ me[0].servicesFr}}</p>

           {% else %}
               <p>{{ me[0].intro}}</p>
               <p>{{ me[0].services}}</p>

           {% endif %}
               <a href="{{ asset('de-la-fouchardiere_caroline_CV-developpement.pdf') }}" target="_blank" class="btn btn-primary text-decoration-none visbyB fs-4 mt-5">
                   <i class="fa-solid fa-file-arrow-down me-3"></i>{{ "btn.resume"|trans }}</a>
           </div>
       </div>




   </div>







{% endblock %}
