{% extends 'base.html.twig' %}

{% block title %}Portfolio | Caroline de la Fouchardiere{% endblock %}

{% block body %}

    <h1>Edit </h1>

    <div class="row">
        {{ form_start(formMe) }}

            {{ form_row(formMe.intro) }}
            {{ form_row(formMe.services) }}

            {{ form_row(formMe.introFr) }}
            {{ form_row(formMe.servicesFr) }}


        <button class="btn btn-primary" type="submit">OK</button>

        {{ form_end(formMe) }}

    </div>


{% endblock %}
