{% extends 'base.html.twig' %}

{% block title %}Discipline index{% endblock %}

{% block body %}
    <h1>Discipline index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Name Fr</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discipline in disciplines %}
            <tr>
                <td>{{ discipline.id }}</td>
                <td>{{ discipline.name }}</td>
                <td>{{ discipline.nameFr }}</td>
                <td>
{#                    <a href="{{ path('app_discipline_show', {'id': discipline.id}) }}" class="btn btn-link">show</a>#}
                    <a href="{{ path('app_discipline_edit', {'id': discipline.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_discipline_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
