{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Subtitle</th>
               <th>Year</th>
                <th>Description</th>
                <th>Description FR</th>
                <th>Links</th>
                <th>Order</th>
                <th>Img display</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects|sort((b, a) => a.customOrder <=> b.customOrder) %}
            <tr>
                <td>{{ project.name }}</td>
                <td><ul>
                        <li>{{ project.subtitle }}</li>
                        <li>{{ project.subtitleFr }}</li>
                    </ul>
                </td>
                <td>{{ project.year }}</td>
                <td>{{ project.description|slice(0, 150) ~ '...'  }}</td>
                <td>{{ project.descriptionFr|slice(0, 150) ~ '...'  }}</td>
                <td><ul>
                        <li>www: {{ project.link }}</li>
                        <li>G:{{ project.github }}</li>
                        <li>F: {{ project.figma }}</li>
                        <li>xd: {{ project.xd }}</li>
                    </ul>
                </td>


                <td>{{ project.customOrder }}</td>
                <td>{{ project.imageDisplay }}</td>
                <td>
                    <div class="d-flex">
                        <a href="{{ path('edit_project', {id:project.id}) }}" class="btn btn-warning btn-sm m-1">{{ "btn.edit"|trans }}</a>
                        {{ include('admin/_delete_form.html.twig') }}
                    </div>
                    <a href="{{ path('app_image', {id:project.id}) }}" class="btn btn-warning btn-sm m-1">{{ "btn.images"|trans }}</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
