
    <nav class="sticky-top navbar navbar-expand-lg bg-white">
        <div class="container d-flex justify-content-between mt-md-3">

            <div class="">
                <a class="navbar-brand" href="{{ path('app_home') }}">
                    <img src="{{ asset('logo.svg') }}" alt="my little mouse logo" height="50px">
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin_index') }}" class="btn text-uppercase kalam">Manage projects</a>
                    <a href="{{ path('app_discipline_index') }}" class="btn text-uppercase kalam">Manage disciplines</a>
                {% endif %}

            </div>



            {% set noot = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            {% set uri = app.request.uri %}


            <div class="">
                {% if app.request.getLocale() == 'en'%}
                    {% set uri = uri|replace({'/en/': "/fr/"}) %}
                    <a href="{{ uri }}" class="text-decoration-none fs-4 "><img src="{{ asset('fr.png') }}" alt="" height="25px"></a>
                {% elseif app.request.getLocale() == 'fr' %}
                    {% set uri = uri|replace({'/fr/': "/en/"}) %}
                    <a href="{{ uri }}" class="text-decoration-none fs-4" ><img src="{{ asset('eng.svg') }}" alt="" height="36px"></a>
                {% endif %}
                <a class="btn btn-bleu text-decoration-none m-0" href="https://github.com/Mousedlf" target="_blank">
                    <i class="fs-1 fa-brands fa-github"></i>
                </a>

            </div>




            {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-link active" aria-current="page" href="{{path('new_project') }}">New Project</a>
            {% endif %}


        </div>
    </nav>
