{% extends 'base.html.twig' %}

{% block title %}Portfolio | Caroline de la Fouchardiere{% endblock %}

{% block body %}
<h1>Add project</h1>

    {{  form_start(formProject) }}


    {{  form_row(formProject.name) }}
    {{  form_row(formProject.description) }}

    {{  from_row(formProject.description_fr) }}
    {{  form_row(formProject.link) }}


    <button class="btn btn-primary" type="submit">OK</button>
    {{  form_end(formProject) }}

{% endblock %}
