{% extends 'base.html.twig' %}

{% block title %}Portfolio | Caroline de la Fouchardiere{% endblock %}

{% block body %}


<div class="sticky-top my-4">
    <a href="{{ path('app_project') }}" class="btn btn-link text-decoration-none ps-0 ms-0 text-black visbyB">
        All
    </a>

    {% for discipline in disciplines %}
        <span style="color: #0000ff">|</span>
        <a href="{{ path('app_project_discipline', {name:discipline.name}) }}" class="btn visbyB btn-link text-decoration-none text-black">

            {{ discipline.name }}
        </a>
    {% endfor %}

</div>

    <div class="row">
    {% for project in projects %}
        <div class="cont col-md-3 p-0 " >
            <a href="{{ path('show_project', {id:project.id}) }}" >

            {% if project.images|length > 0 %}
            <img src="{{ vich_uploader_asset(project.images.0, 'imageFile')}}" alt="{{ project.name }} project image" class="image">
            {% endif %}

            <div class="overlay me-2 mb-2 p-2">
                    <h3 class="text">{{ project.name }}</h3>
            </div>
        </a>
        </div>

    {% endfor %}
</div>


{% endblock %}
