{% extends 'base.html.twig' %}

{% block title %}Portfolio | Caroline de la Fouchardiere{% endblock %}

{% block body %}


<div class="sticky-top mb-md-4 text-end pt-5 pb-2">
    <a href="{{ path('app_project') }}" class="btn btn-link text-decoration-none ps-0 ms-0 text-black visbyB">
        {% if locale == 'fr' %}
            Tous
        {% else %}
            All
        {% endif %}
    </a>

    {% for discipline in disciplines %}

        <span style="color: #0000ff">|</span>
        {% if locale == 'fr' %}
            <a href="{{ path('app_project_discipline', {name:discipline.nameFr}) }}" class="btn visbyB btn-link text-decoration-none text-black">
                {{ discipline.nameFr }}
            </a>
        {% else %}
            <a href="{{ path('app_project_discipline', {name:discipline.name}) }}" class="btn visbyB btn-link text-decoration-none text-black">
                {{ discipline.name }}
            </a>
        {% endif %}

    {% endfor %}

</div>

    <div class="row mb-5">
    {% for project in projects|sort((b, a) => a.customOrder <=> b.customOrder) %}
        <div class="cont col-md-4 p-md-0" >
            <a href="{{ path('show_project', {id:project.id}) }}" >

            {% if project.images|length > 0 %}
            <img src="{{ vich_uploader_asset(project.images.0, 'imageFile')}}" alt="{{ project.name }} project image" class="image">
            {% endif %}

            <div class="overlay me-2 mb-2 p-2">
                <div class="text text-center">
                    <h3>{{ project.name }}</h3>

                    {% if locale == 'fr' %}
                        <p class="fw-normal">{{ project.subtitleFr }}</p>
                    {% else %}
                        <p class="fw-normal">{{ project.subtitle }}</p>
                    {% endif %}

                    <p class="fw-normal">- {{ project.year }} -</p>
                </div>
            </div>
        </a>
        </div>

    {% endfor %}
</div>


{% endblock %}
