{% extends 'base.html.twig' %}

{% block title %}Portfolio | Caroline de la Fouchardiere{% endblock %}

{% block body %}

    <div class="col-md-9">

        <div class="d-flex align-items-baseline">
            <h1 class="mt-5 me-5">{{ project.name }}</h1>
            <div class="d-flex align-items-center">

                {% if project.github is not null %}
                    <a class=" btn-bleu" target="_blank" href="{{ project.github }}">
                        <i class="fs-2 me-2 fa-brands fa-github"></i>
                    </a>
                {% endif %}

                {% if project.figma is not null %}
                    <a class=" btn-bleu" target="_blank" href="{{ project.link }}">
                        <p>F</p>
                    </a>
                {% endif %}
                {% if project.xd is not null %}
                    <a class=" btn-bleu" target="_blank" href="{{ project.link }}">
                        <p>XD</p>
                    </a>
                {% endif %}
                {% if project.link is not null %}
                    <a class=" btn-bleu" target="_blank" href="{{ project.link }}">
                        <i class="fs-3 fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                {% endif %}
            </div>

        </div>


        {% if locale == 'fr' %}
            <p>{{ project.descriptionFr }}</p>
            {% else %}
                <p>{{ project.description }}</p>
        {% endif %}




    </div>


    {% if project.imageDisplay == 0 %}
        {% elseif project.imageDisplay == 1 %}
            <div class="row mt-5">
                {% for image in project.images  %}
                    <div class="card col">
                        <img src="{{ vich_uploader_asset(image, 'imageFile')}}"  alt="">
                    </div>
                {% endfor %}
            </div>
        {% elseif project.imageDisplay == 2 %}
            <div class="row mt-5 row-cols-md-2">
                {% for image in project.images %}
                    <div class="card col">
                        <img src="{{ vich_uploader_asset(image, 'imageFile')}}"  alt="">
                    </div>
                {% endfor %}
            </div>
        {% elseif project.imageDisplay == 3 %}
            <div class="row mt-5 row-cols-md-3">
                {% for image in project.images %}
                    <div class="card col">
                        <img src="{{ vich_uploader_asset(image, 'imageFile')}}"  alt="">
                    </div>
                {% endfor %}
            </div>
    {% endif %}



    {% for image in project.images %}
        {% if image != project.images[0] %}
            <div class="card">
                <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="">
            </div>
        {% endif %}
    {% endfor %}






{% endblock %}
