{% extends 'base.html.twig' %}

{% block title %}Portfolio | Caroline de la Fouchardiere{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('edit_project', {id:project.id}) }}" class="badge rounded-pill text-bg-warning">{{ "btn.edit"|trans }}</a>
        <a href="{{ path('delete_project', {id:project.id}) }}" class="badge rounded-pill text-bg-danger">{{ "btn.delete"|trans }}</a>
        <a href="{{ path('add_image', {id:project.id}) }}" class="badge rounded-pill text-bg-warning">{{ "btn.images"|trans }}</a>
    {% endif %}

    <div class="col-9">
        <h1 class="mt-5">{{ project.name }}</h1>


        {% if locale == 'fr' %}
            <p>{{ project.descriptionFr }}</p>
            {% else %}
                <p>{{ project.description }}</p>
        {% endif %}


        {% if project.link is not null %}
            <p>
                <i class="fa-solid fa-arrow-right-long me-2 text-primary"></i>
                <a class="text-decoration-none text-primary fw-bold" target="_blank" href="{{ project.link }}">{{ project.link }}</a>
            </p>
        {% endif %}
    </div>




    <div class="row mt-5">
        <div class="card col-4">images </div>
        <div class="card col-4">images </div>
        <div class="card col-4">images </div>

    </div>
{#
    {% for image in project.images %}
        <div class="card">
            <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="">
        </div>
    {% endfor %}#}






{% endblock %}
